.btn {
  display: grid;
  grid-template-columns: 2fr 10fr;

  margin-top: 10px;
  margin-bottom: 10px;

  font-family: 'Lato Medium', sans-serif;
  font-style: normal;

  font-size: 14px;
  line-height: 24px;
}

.btn__link {
  text-decoration: none;
  color: black;
}