.modal {
  height: 64px;

  background-color: #ADEED6;
  border-radius: 10px;

  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);

  position: fixed;

  right: 4%;
  bottom: 5%;
}

.modal__content {
  padding: 20px;
}

.modal__text {
  cursor: default;

  font-family: 'Lato Medium', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.modal__img {
  vertical-align: middle;
  margin-left: 10px;

  cursor: pointer;
}