.edit {
  margin: 0 auto;
  margin-top: 30px;

  width: 1100px;

  font-family: 'Lato Medium', sans-serif;
  font-style: normal;
}

.edit__form {
  margin: 0 auto;

  height: 12%;

  padding-top: 60px;
  padding-bottom: 60px;
}

.h3 {
  text-align: left;
}

.edit__container {
  width: 800px;

  background: white;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}

.edit__error {
  color: brown;
}